<div class="pre-scrollable">
  <div class="table-responsive-lg">
    <table class="table table-bordered">
      <tbody>
        <% i = 0 %>
        <% while i <= @lessons.length do %>
          <tr>
            <td>
              <%= link_to @lessons[i].number, instructor_student_lesson_path(@instructor, @student, @lessons[i]), class: "nav-link btn-info" if @lessons[i] %>
            </td>              
            <td>
              <%= link_to @lessons[i+1].number, instructor_student_lesson_path(@instructor, @student, @lessons[i+1]), class: "nav-link btn-info" if @lessons[i+1] %>
            </td>
          </tr>
          <% i = i + 2 %>
        <% end  %>
      </tbody>
    </table>
  </div>
</div>
